*~
*.zip
*.exe
*.dll

afxw/menu/jump.txt
afxw/fcopy

afxw/AFXW.HIS
afxw/AFXW.TXT
afxw/AFXWAMS.TXT
afxw/AFXWCFG.TXT
afxw/AFXWCMD.TXT
afxw/AFXWKEY.TXT
afxw/READMEW.TXT

clnch/doc/*
clnch/dict/*
clnch/extension/*
clnch/lib/*
clnch/license/*
clnch/theme/*
clnch/readme.txt
clnch/_config.py

fcopy/*
!fcopy/.gitkeep
pthwy/*
!pthwy/.gitkeep
7z/*
!7z/.gitkeep
Stirling/*
!Stirling/.gitkeep

